<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %> 
</head>
<body>

  <header>
    <%- include('../partials/header') %> 
  </header>

  <main>
    <div class="jumbotron">
      <h1>Math records</h1>
      <p>Welcome to templating using EJS</p>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Record</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i=0; i<Object.entries(records).length; i++) {%>
            <tr>
              <th scope="row"><%= i+1%></th>
              <td><%= Object.entries(records)[i][0] %></td>
              <td><%= Object.entries(records)[i][1] %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </main>
  
  <footer>
    <%- include('../partials/footer') %> 
  </footer>

</body>
</html>